{% extends 'base.html.twig' %}

{% block title %}Articles list{% endblock %}

{% block body %}

    
    <h1 class="mt-4">Articles list</h1>
    <ul>
    {% for article in articles %}
         <li><a href={{ path('article_view', { 'id':article.id}) }}>{{ article.title }}</a> {{ article.creationDate|date('d/m/Y') }} </li>
    {% endfor %}
    </ul>

{% endblock %}
