{% extends 'base.html.twig' %}

{% block title %}Articles list{% endblock %}

{% block body %}

    
    <div class="row mt-2 mb-2">
    {% if app.request.attributes.get('_route') == 'article_list' %}
        {% if articles == [] %}
            <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    No articles published yet.
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if app.request.attributes.get('_route') == 'article_draft' %}
        {% if articles == [] %}
             <div class="col-md-12">
                <div class="alert alert-warning" role="alert">
                    No articles in draft.
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body text-truncate">
                    <h5 class="card-title overflow-hidden">{{ article.title }}</h5>
                    <p class="card-text overflow-hidden">{{ article.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ article.creationDate|date('d/m/Y') }}</small></p>
                    <a href={{ path('article_view', { 'id':article.id}) }} class="btn btn-sm btn-primary">Lire la suite</a>  
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}
