<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item d-flex">
          <a class="nav-link" aria-current="page" href="{{ path('article_list') }}">Accueil</a>
          <a class="nav-link" aria-current="page" href="{{ path('add_article') }}">Ajouter un article</a>
          <a class="nav-link" aria-current="page" href="{{ path('add_category') }}">Ajouter une catégorie</a>
        </li>
      </ul>
    </div>
  </div>
</nav>